@model AppUser
<div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/img/profile/@Model.ImageUrl" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@Model.UserName</a>
        </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a asp-action="myposts" asp-controller="news" asp-area="management" class="nav-link">
                    <i class="nav-icon fa fa-info"></i>
                    <p>
                        Yazılarım

                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="addnews" asp-controller="news" asp-area="management" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Yeni Haber Ekle

                    </p>
                </a>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" asp-area="management" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Users

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="roles" asp-controller="home" asp-area="management" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Roles
                        </p>
                    </a>
                </li>
            }
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
        </ul>
    </nav>
</div>
